
/*svg { height:100% } */

text {
    text-anchor: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*fill: darkslategrey;*/
}

.y_axis_label {
    font-size: 0.8em;
    text-anchor: end;
}

.y_axis_label_reverse {
    font-size: 0.8em;
    text-anchor: start;
}

.x_axis_label {
    font-size: 0.8em;
    text-anchor: middle;
}

.title {
    font-weight: bold;
    font-size: 1.25em;
}

text.legend_item {
    text-anchor: start;
    font-weight: normal;
    font-size: 0.8em;
    text-anchor: start;
    cursor: pointer;
}

text.legend_item_highlighted {
    text-anchor: start;
    font-weight: bold;
    font-size: 0.8em;
    text-anchor: start;
    cursor: pointer;
}

.legend_item.title {
    text-anchor: start;
    font-weight: bold;
    font-size: 0.8em;
    text-anchor: start;
}

.axis_title {
    font-weight: bold;
}

circle.point {
    stroke: green;
    stroke-width: 0.2em;
    fill: yellow;
}

polyline {
    stroke-width: 1;
}


line.axis {
    stroke-width: 1.5;
    stroke: black;
}

line {
    stroke-width: 1;
    stroke: green;
}

line.highlighted {
    stroke-width: 3;
}

polyline.highlighted {
    stroke-width: 3;
}


.scrolldiv
{
    /* border: 1px solid grey; */
    border-radius: 2px;
    height: 700px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.containerdiv
{
    width: 100%;
    height: 800px;
    /*background: #f4f4f4;*/
    display:inline-block;
    /*border:2px; solid red;*/ 
}

.graphdiv
{
    width:auto;
    padding:10px;
    float:left;
    /* border:2px solid blue; */
}

.legenddiv
{
    padding:10px;
    float:left;
    /*border:2px solid green;*/
}
