
/*svg { height:100% } */

text {
    text-anchor: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*fill: darkslategrey;*/
}

.axis_label {
    font-size: 0.8em;
}

.title {
    font-weight: bold;
    font-size: 1.25em;
}

.legend_item {
    text-anchor: start;
    font-weight: normal;
    font-size: 0.8em;
    text-anchor: start;
}

.legend_item.title {
    text-anchor: start;
    font-weight: bold;
    font-size: 0.8em;
    text-anchor: start;
}

.axis_title {
    font-weight: bold;
}

circle.point {
    stroke: green;
    stroke-width: 0.2em;
    fill: yellow;
}

polyline {
    stroke-width: 1;
}